<footer class="py-2">
  <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">

    <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">
      © 2026, hecho con Angular 18 y C#
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="-mt-0.5 inline-block h-3.5 w-3.5">
        <path d="M11.645 20.91l-.007-.003-.022-.012..."></path>
      </svg>
      y
      <a
        href="https://www.creative-tim.com"
        target="_blank"
        class="transition-colors hover:text-blue-500">
        Creado por el Grupo EduEvaluationsGt
      </a>
    </p>

    <ul class="flex items-center gap-4">
      <!-- links -->
    </ul>

  </div>
</footer>